* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}

body {
    background-color: whitesmoke;
}

#header {
    display: flex;
    position: relative;

}        

#header div {
    position: absolute;
    top: 0;
    right: 0;
    height: 100px;
}

div.nav-bar ul {
    display: flex;
    list-style: none;
    margin: 60px auto;
}

.nav-bar ul li {
    margin-left: 120px;
    margin-right: 20px;
    text-transform: uppercase;
    font-weight: bolder;
}

#header div.logo {
    width: 300px;
    height: 90px;
    position: absolute;
    top: 0;
    left: 0;
    margin: 30px auto;
    margin-left: 40px;
}

.nav-bar a {
    text-decoration: none;
    color: black;
}

.nav-bar li:hover, .nav-bar a:hover {
    color: rgb(53, 89, 206);
    text-decoration: none;
    border-bottom: 2px solid rgb(53, 89, 206);
}

div#header {
    height: 150px;
}

#container {
    box-sizing: border-box;
}

.four-boxes {
    /* border: 2px solid black; */
    height: 250px;
    max-width: 70%;
    margin: 30px auto;
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

}

.four-boxes div.box {
    /* border: 1px solid red; */
    background: #fff;
    margin-left: 20px;
    box-shadow: 10px 10px 10px #9b9b9b;
    border-radius: 10px;
    /* overflow: auto; */
    border-bottom: 2px solid rgb(53, 89, 206);
}

.four-boxes div.box h3, p {
    margin-left: 20px;
    margin-right: 20px;
    margin-top: 15px;
}

.four-boxes div.box img {
    width: 50px;
    margin-left: 20px;
    margin-top: 20px;
}

.four-boxes div.box:hover {
    background: rgb(53, 89, 206);
    color: white;
}

.four-boxes div.box h3.upper {
    text-transform: uppercase;
}

.top-potion {
    max-width: 70%;
    height: 300px;
    margin: 30px auto;
    position: relative;
    box-sizing: border-box;
    margin-bottom: 110px;
   
}

.top-potion::before {
    content: ' ';
    position: absolute;
    top: -102%;
    left: 46%;
    height: 680px;
    width: 700px;
    z-index: -1;
    border-radius: 50%;
    box-shadow: 12px 12px 10px #c0bfbf;
    background-image: url(images/marketing\ \(2\).jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.top-potion p {
    margin-left: 0px;
    margin-bottom: 40px;
}

.top-potion a {
    width: 100%;
    text-decoration: none;
    color: #fff;
    padding: 10px 20px;
    background-color: rgb(53, 89, 206);
    border-radius: 4px;
    font-weight: bolder;
}

.top-potion a:hover {
    color: #fff;
    background: rgb(104, 139, 255);
}

div.middle-box {
    width: 100%;
    height: 600px;
    margin-top: 70px;
    margin-bottom: 70px;
    background:  rgb(34, 67, 175);
    position: relative;
    box-sizing: border-box;
}

.laptop-chair {
    width: 600px;
    height: 600px;
    border-radius: 50%;
    position: absolute;
    top: 90px;
    left: -90px;
    background-image: url(images/laptop-chair.jpg);
    background-size: cover;
}

div.laptop-chair::before {
    content: ' ';
    position: absolute;
    width: 600px;
    height: 600px;
    top: -40px;
    left: 5px;
    border-radius: 50%;
    background-color: rgba(245, 238, 238, 0.1);
}

div.description {
    max-width: 400px;
    height: 100%;
    position: absolute;
    top: 0;
    right: 260px;
}

div.description h2 {
    margin-top: 50px;
    color: #fff;
}

div.description p {
    margin-left: 0;
    color: #fff;
}

div.description ol li {
    margin-left: 15px;
    margin-top: 30px;
    color: #fff;
}

div.description a {
    width: 100%;
    height: 20px;
    text-decoration: none;
}

div.description a.get, a.Read {
    font-weight: bolder;
    padding: 10px 20px;
    border-radius: 4px;

}

div.description a.get {
    color: rgb(34, 67, 175);
    background-color: #fff;
    border: 1px solid #fff;
}

div.description a.Read {
    border: 1px solid #fff;
    color:#fff;
    margin-left: 20px;
}

div.description a.get:hover {
    color: #fff;
    background-color: rgb(34, 67, 175);
    box-sizing: border-box;
}

div.description a.Read:hover {
    color: rgb(34, 67, 175);
    background-color: #fff;
    box-sizing: border-box;
}

div.description ol {
    margin-bottom: 40px;
}

.agency-potion {
    display: flex;
    justify-content: space-between;
    max-width: 80%;
    height: 420px;
    margin: 30px auto;
    margin-top: 160px;
    position: relative;
}

.agency-potion div {
    height: 350px;
    width: 350px;
}

.agency-potion div.agency-info p {
    margin-left: 0;
    margin-top: 30px;
}

div.agency-info p.p-bottom {
    margin-bottom: 30px;
}

div.agency-info a {
    text-decoration: none;
    width: 100%;
    height: 20px;
    background-color: rgb(34, 67, 175);
    color: #fff;
    padding: 10px 20px;
    font-weight: bolder;
    border-radius: 4px;
}

p.upper {
    font-size: 20px;
}

.agency-info a:hover {
    background-color: rgb(104, 139, 255);
}

.agency-potion div.agency-pic {
    position: absolute;
    width: 550px;
    height: 450px;
    border-radius: 50%;
    background: url(images/computer-guy.jpg);
    background-size: cover;
    background-position: center center;
    top: -50px;
    left: 530px;
    box-shadow: 10px 10px 10px #ccc;
}

#comments {
    display: flex;
    flex-grow: 1;
    flex-shrink: 0;
    overflow-x: auto;
    height: 230px;
    padding: 15px;
    margin-bottom: 60px;
    box-sizing: border-box;

}

#comments div.com1 {
    flex-grow: 0;
    flex-shrink: 0;
    width: 300px;
    height: 180px;
    margin-left: 20px;
    border: 1px solid red;
}

footer {
    display: flex;
    height: 350px;
    background-color:  rgb(34, 67, 175);
    justify-content: space-between;
    padding: 30px 200px;
    position: relative;
}

footer div {
    margin-top: 100px;
}

footer h3 {
    color: #fff;
}

footer a {
    text-decoration: none;
    color: rgba(218, 218, 218, 0.5);
}
footer div p {
    margin-left: 0;
    color: rgba(228, 218, 218, 0.5);
}


footer .footer-top {
    position: absolute;
    width: 70%;
    height: 80px;
    top: -140px;
    left: 200px;
    background-color: rgb(58, 98, 228);
    border-radius: 4px;
}

footer .footer-bottom {
    width: 100%;
    height: 40px;
    position: absolute;
    bottom: 0;
    left: 0;
    border-radius: 50% 50% 0 0;
    background-color: rgba(18, 40, 112, 0.5);
}

.footer-top p {
    color: #fff;
    font-size: 30px;
    margin: 25px 30px;
}

footer .footer-top a {
    position: absolute;
    top: 20px;
    right: 40px;
    color: rgb(34, 67, 175);
    padding: 10px 30px;
    background-color: #fff;
    font-weight: bolder;
    border-radius: 4px;
}

footer .footer-top a:hover {
    color: #fff;
    background-color: rgb(58, 98, 228);
    border: 1px solid #fff;
}

.footer-bottom p {
    text-align: center;
}

.Services p a:hover, #about-us p a:hover {
    color: #fff;
}
